NODES="({{ nodes }})"
NODEIPS="({{ nodeips }})"
NODEPRIVS="({{ nodeprivs }})"
NODEPRIVIPS="({{ nodeprivips }})"
NODEVIPS="({{ nodevips }})"
NODEVIPIPS="({{ nodevipips }})"
PUBADAP="{{ vm_pubadap }}"
PUBMASK="{{ vm_netmask }}"
PUBGW="{{ vm_gateway }}"
PRIVADAP="{{ vm_privadap }}"
PRIVMASK="{{ vm_netmask_priv }}"
DOMAINNAME="{{ vm_dns_domain }}"
DNSIP="{{ vm_dns }}"
RACCLUSTERNAME="{{ rac_name }}"
SCANNAME="{{ rac_scanname }}"
SCANIP="{{ rac_scan_ip_address }}"
SIDNAME=ORCLDB
DATABASE_CHARACTERSET="AL32UTF8"
ALLDISKS="{{ asm_dev_strings }}"
RACASMDISKSTRING="/dev/deploycluster/*"
PARTITION_WHOLE_DISKS=no
NETWORKING_IPV6=no
