NODE1="{{ vm_name }}"
NODE1IP="{{ vm_ip_address }}"
PUBADAP="{{ vm_pubadap }}"
PUBMASK="{{ vm_netmask }}"
PUBGW="{{ vm_gateway }}"
DOMAINNAME="{{ vm_dns_domain }}"
DNSIP="{{ vm_dns }}"
CLONE_SINGLEINSTANCE_HA=yes
ALLDISKS="/dev/deploycluster/asm0"
RACASMDISKSTRING="/dev/deploycluster/*"
